.process-section {
  ul {
    li {
      margin: 30px 20px;
    }
  }
}

.service-card {
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
}

.active {
  font-weight: 600;
  color: #058be4 !important;
}

@media (max-width: 767px) {
  .process-section {
    ul {
      padding: 0;
      li {
        margin: 30px 10px;
      }
    }
  }
  .services-section {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}
